<div class="container">
    <div class="row pt-3 justify-content-center cartaLogin">
        <div class="col col-12 col-lg-4 text-center backImgLogin align-self-center">
            <img class="img-fluid imgLogin altoImg" src="/assets/logo kairos blanco-01.png" alt="logo">
        </div>
        <div class="col col-12 col-lg-5 justify-content-center align-self-center colLogin">
            <div class="card cardLogin">
                <div class="card-body">
                    <form [formGroup]="profileForm">
                        <div class="mb-3">
                            <h1>Iniciar Sesión</h1>
                            <div class="row justify-content-center">
                                <div class="col col-12 col-md-6 col-lg-6">
                                    <button class="btn btn-Google" (click)="iniciarGoogle()"><i class="fab fa-google"></i> Iniciar con Google</button>
                                </div>
                                <!-- <div class="col col-12 col-md-6 col-lg-6">
                                    <button class="btn btn-Facebook" (click)="iniciarFacebook()"><i class="fab fa-facebook"></i> Iniciar con Facebook</button>
                                </div> -->
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">C.I.</label>
                            <input type="number" class="form-control inputNew" formControlName="ci" [class]="validarCampo('ci')">

                            <div *ngIf="profileForm.get('ci').invalid && (profileForm.get('ci').dirty || profileForm.get('ci').touched)">
                                <div *ngIf="profileForm.get('ci').errors?.required" class="error">
                                    Este campo es obligatorio.
                                </div>
                                <div *ngIf="profileForm.get('ci').errors?.pattern" class="error">
                                    Entre 7 y 8 caracteres, solo digitos
                                </div>
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                            <input type="password" class="form-control inputNew" formControlName="password" [class]="validarCampo('password')">
                            
                            <div *ngIf="profileForm.get('password').invalid && (profileForm.get('password').dirty || profileForm.get('password').touched)">
                                <div *ngIf="profileForm.get('password').errors?.required" class="error">
                                    Este campo es obligatorio.
                                </div>
                                <div *ngIf="profileForm.get('password').errors?.pattern && !profileForm.get('password').errors?.required" class="error">
                                    Minimo 8 caracteres, solo letras y digitos
                                </div>
                            </div>
                        </div>
                        
                        <div class="row justify-content-center">
                            <div class="col col-12 col-md-12 col-lg-12">
                                <button (click)="onSubmit()" [disabled]="!profileForm.valid" class="btn btn-main btnNew">Ingresar</button>
                                <p>¿No tienes una cuenta? <a href="/registrarse">Registrarse</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>