<div class="container">
    <div class="row pt-5">
        <div class="col text-center">
            <img src="/assets/logo kairos color-02.png" alt="logo" style="height: 150px;">
        </div>
    </div>
    <div class="row pt-3">
        <div class="col d-flex justify-content-center">
            <div class="card" style="width: 23rem; background-color: #DCDBDD;">
                <div class="card-body">
                    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <h1 class="text-center">Iniciar Sesión</h1>
                            <label for="exampleInputEmail1" class="form-label">CI</label>
                            <input type="number" class="form-control" formControlName="ci" [class]="validarCampo('ci')">

                            <div *ngIf="profileForm.get('ci').invalid && (profileForm.get('ci').dirty || profileForm.get('ci').touched)">
                                <div *ngIf="profileForm.get('ci').errors?.required" class="error">
                                    Este campo es obligatorio.
                                </div>
                                <div *ngIf="profileForm.get('ci').errors?.pattern" class="error">
                                    Entre 7 y 8 caracteres, solo digitos
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" formControlName="password" [class]="validarCampo('password')">
                            
                            <div *ngIf="profileForm.get('password').invalid && (profileForm.get('password').dirty || profileForm.get('password').touched)">
                                <div *ngIf="profileForm.get('password').errors?.required" class="error">
                                    Este campo es obligatorio.
                                </div>
                                <div *ngIf="profileForm.get('password').errors?.pattern && !profileForm.get('password').errors?.required" class="error">
                                    Minimo 8 caracteres, solo letras y digitos
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <a class="btn btn-main-login" aria-current="page" href="/registrarse">Registrarse</a>
                            <button type="submit" [disabled]="!profileForm.valid" class="btn btn-main">Ingresar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>