      <!--PRODUCTOS-->
      <div class="container">
        <div class="row pt-5">
          <div class="col-12 col-lg-6 p-5 colorcol align-items-center">
            <h4>Catálogo 2021</h4>
            <h2>Elige tu producto</h2>
            <p>Te ofrecemos estos productos del catálogo.</p>
            <p>Tambien puedes cotizarlos y hacer tu pedido.</p>
            <a  target="_blank" href="https://wa.me/+59177113546" class="btn btn-main p-2">Cotizar por Whatsapp</a>
          </div>
          <div class="col-12 col-lg-6 text-center pt-2 pt-lg-0">
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/assets/empastados.png" class="d-block w-100" alt="empastados">
                </div>
              </div>
              <div class="overlay">
                <div class="container">
                  <div class="row align-items-end">
                    <div class="col">
                      <h2 class="pb-3"> <a href="/empastados">Diseña tu empastado</a></h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>  
        <div class="row pt-2">
          <div class="col-12 col-lg-4">
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/assets/sellos.png" class="d-block w-100" alt="empastados">
                </div>
              </div>
              <div class="overlay">
                <div class="container">
                  <div class="row align-items-end">
                    <div class="col">
                      <h3 class="pb-3">Sellos de Goma</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 pt-2 pt-lg-0">
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/assets/recibos.png" class="d-block w-100" alt="empastados">
                </div>
              </div>
              <div class="overlay">
                <div class="container">
                  <div class="row align-items-end">
                    <div class="col">
                      <h3 class="pb-3">Recibos y Facturas</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 pt-2 pt-lg-0">
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/assets/tarjetas.png" class="d-block w-100" alt="empastados">
                </div>
              </div>
              <div class="overlay">
                <div class="container">
                  <div class="row align-items-end">
                    <div class="col">
                      <h3 class="pb-3">Tarjetas Personales</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-12 col-lg-6">
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/assets/revistas.png" class="d-block w-100" alt="empastados">
                </div>
              </div>
              <div class="overlay">
                <div class="container">
                  <div class="row align-items-end">
                    <div class="col">
                      <h3 class="pb-3">Revistas</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 pt-2 pt-lg-0 pb-5">
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/assets/banners.png" class="d-block w-100" alt="empastados">
                </div>
              </div>
              <div class="overlay">
                <div class="container">
                  <div class="row align-items-end">
                    <div class="col">
                      <h3 class="pb-3">Banners</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>