      <!--PRODUCTOS-->
      <div class="container" style="margin-top: 40px;margin-bottom: 50px;">
        <div class="row pt-5">
          <div class="col-12 col-lg-6 p-5 colorcol align-items-center titulo colProducto contentTitulo">
            <h4>Catálogo 2021</h4>
            <h2>Elige tu producto</h2>
            <p>Te ofrecemos estos productos del catálogo.</p>
            <p>Tambien puedes cotizarlos y hacer tu pedido.</p>
            <a  target="_blank" href="https://wa.me/+59177113546" class="btn btn-main p-2">Cotizar por Whatsapp</a>
          </div>
          <div class="col-12 col-lg-6 text-center pt-2 pt-lg-0 colProducto">
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/assets/empastados.png" class="d-block w-100 imagen" alt="empastados">
                  <h2 class="tituloProducto"><a href="/empastados">Diseña tu empastado <i class="fas fa-arrow-right"></i></a></h2>
                </div>
              </div>
            </div>
          </div>
        </div>  
        <div class="row pt-2">
          <div class="col-12 col-lg-4 text-center pt-2 pt-lg-0 colProducto">
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/assets/sellos.png" class="d-block w-100 imagen" alt="empastados">
                  <h4 class="tituloProducto"><a href="">Sellos de Goma <i class="fas fa-arrow-right"></i></a></h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 text-center pt-2 pt-lg-0 colProducto">
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/assets/recibos.png" class="d-block w-100 imagen" alt="empastados">
                  <h4 class="tituloProducto"><a href="">Recibos y Facturas <i class="fas fa-arrow-right"></i></a></h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4 text-center pt-2 pt-lg-0 colProducto">
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/assets/tarjetas.png" class="d-block w-100 imagen" alt="empastados">
                  <h4 class="tituloProducto"><a href="">Tarjetas Personales <i class="fas fa-arrow-right"></i></a></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-12 col-lg-6 text-center pt-2 pt-lg-0 colProducto">
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/assets/revistas.png" class="d-block w-100 imagen" alt="empastados">
                  <h4 class="tituloProducto"><a href="">Revistas <i class="fas fa-arrow-right"></i></a></h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 text-center pt-2 pt-lg-0 colProducto">
            <div id="carousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/assets/banners.png" class="d-block w-100 imagen" alt="empastados">
                  <h4 class="tituloProducto"><a href="">Banners <i class="fas fa-arrow-right"></i></a></h4>
                </div>
              </div>
              <div class="overlay">
                <div class="container">
                  <div class="row align-items-end">
                    <div class="col">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>