button {
    border-radius: 5px;
}

.filtrar {
    background-color: white;
    color: black;
    border: 1px solid #ced4da;
}

.filtrarIcono {
    color: #5D213B;
}

.buscar {
    border: none;
    background-color: #F4F2FF;
    margin-left: 5px;
}

.tableHead {
    border-bottom: none;
    color: #b3b3b3;
}

.imagen {
    max-width: auto;
    height: 80%;
    border-radius: 5px;
}

.textoImg {
    padding: 3px;
}

.accionEditar {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    transition: 0.2s ease-in-out all;
    color: #F39200;
}
.accionEditar:hover {
    color: #FFC107;
}

.accionEliminar {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    transition: 0.2s ease-in-out all;
    color: #5D213B;
}
.accionEliminar:hover {
    color: #DC3545;
}



.error {
    color: rgba(255,0,0,0.4);
}

.btn-Google {
    background-color: white;
    border: 1px groove rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    color: #5D213B;
    font-size: 16px;
    margin: 5px;
    width: 100%;
}
.btn-Facebook {
    background-color: white;
    border: 1px groove rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    color: #385898;
    font-size: 16px;
    margin: 5px;
    width: 100%;
}
.cardLogin {
    border: none;
}

.btnRegistrarse {
    background-color: white;
    border: 2px solid #5D213B;
    color: #5D213B;
}
.btnNew {
    /* margin: 10px; */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.inputNew {
    border: none;
    border-bottom: 1px groove rgba(0, 0, 0, 0.2);
    border-radius: 0px;
}

.imgLogin {
    padding-top: 0px;
    padding: 50px;
}
.backImgLogin {
    background-color: #5D213B;
    border-radius: 3px;
}

@media (max-width: 991px) {
    .altoImg {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (min-width: 992px) {  
    .altoImg {
        padding-top: 270px;
        padding-bottom: 270px;
    }
}

.cerrar {
    margin-top: 7px;
    position: absolute;
    left: 93%;
    font-size: 25px;
}

.accionVer {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    transition: 0.2s ease-in-out all;
    color: #F39200;
}
.accionVer:hover {
    color: #FFC107;
}



.container1 {
    position: relative;
    text-align: center;
  }
  
  .facultad {
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden;
    color: #efb810;
    width: auto;
    font-size: 0.70vw;
  }
  
  .carrera {
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden;
    color: #efb810;
    width: auto;
    font-size: 0.70vw;
  }
  
  .titulo {
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden;
    color: #efb810;
    width: auto;
    font-size: 0.70vw;
  }
  
  .trabajo {
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden;
    color: #efb810;
    width: auto;
    font-size: 0.70vw;
  }

  .autor {
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top: 78.72%;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden;
    color: #efb810;
    width: auto;
    font-size: 0.70vw;
  }

  .tutor {
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top: 83.30%;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden;
    color: #efb810;
    width: auto;
    font-size: 0.70vw;
  }

  .mes {
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top: 93.25%;
    left: 52.50%;
    transform: translateX(-50%);
    overflow-x: hidden;
    color: #efb810;
    width: auto;
    font-size: 0.70vw;
  }

  .anio {
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top: 93.25%;
    left: 66%;
    transform: translateX(-50%);
    overflow-x: hidden;
    color: #efb810;
    width: auto;
    font-size: 0.70vw;
  }

  .cantidad {
      margin: 0px;
      padding-top: 1px;
  }

.accionTerminado {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    transition: 0.2s ease-in-out all;
    color: #58c07b;
}
.accionTerminado:hover {
    color: #62df8c;
}

.btnBuscar {
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 40px;
    margin-right: 5px;
}

.contenedorFlex {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contenedorPedidos {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
    padding-top: 0px;
    align-items: center;
    justify-content: space-evenly;
}
.pedido {
    max-width: 200px;
    margin: 10px;
    border-radius: 5px;
    border: 0.5px solid #e3e6e9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tituloPedido {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.tituloTesis {
    width: 100%;
    height: 90px;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.imagenEmpastadoPedido {
    /* border-radius: 3px; */
    margin-bottom: 5px;
}

.elementoPedido {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}