/* You can add global styles to this file, and also import other style files */
/*BUTTONS*/
.btn-main{
    background-color:#F39200;
    color: #5D213B;
    border-radius: 15px;
    text-decoration: none;
}
.btn-main-login{
    background-color:#5D213B;
    color: white;
    border-radius: 15px;
}
.btn-main-login:hover{
    background-color:#680f36;
    color: white;
}
.btn-main:hover{
    background-color:#e68a00;
    color: #5D213B;
}
.btn-outline-main{
    background-color:#0000;
    color: #5D213B;
    border-color: #F39200;
    border-radius: 15px;
}
.blanco {
    color: white;
}
body{
    border-radius: 3px;
}
*{
    font-family: 'Poppins', sans-serif;
    transition: 0.5 ease-in-out all;
}