.error {
  color: rgba(255,0,0,0.4);
}

.container1 {
    position: relative;
    text-align: center;
    border: 2px solid #efb810;
    border-radius: 3px;
  }
  
@media (max-width: 991px) {
  .container1 div {
    font-size: 1.5vw;
  }
  .imagenEmpastado {
    max-width: 60%;
    height: auto;
  }
}

  .facultad {
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden;
    color: #efb810;
    width: auto;
    font-size: 0.93vw;
  }
  
  .carrera {
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden;
    color: #efb810;
    width: auto;
    font-size: 0.93vw;
  }
  
  .titulo {
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden;
    color: #efb810;
    width: auto;
    font-size: 0.93vw;
  }
  
  .trabajo {
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden;
    color: #efb810;
    width: auto;
    font-size: 0.93vw;
  }

  .autor {
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top: 78.72%;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden;
    color: #efb810;
    width: auto;
    font-size: 0.93vw;
  }

  .tutor {
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top: 83.30%;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: hidden;
    color: #efb810;
    width: auto;
    font-size: 0.93vw;
  }

  .mes {
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top: 93.25%;
    left: 52.50%;
    transform: translateX(-50%);
    overflow-x: hidden;
    color: #efb810;
    width: auto;
    font-size: 0.93vw;
  }

  .anio {
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top: 93.25%;
    left: 66%;
    transform: translateX(-50%);
    overflow-x: hidden;
    color: #efb810;
    width: auto;
    font-size: 0.93vw;
  }

  #precio {
    background-color: white;
    border-radius: 3px;
    margin-top: 5px;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 20px;
    padding: 5px;
  }

  .imgEmpastado {
    border: 0px groove rgba(0,0,0,0.2);
    border-radius: 3px;
  }

  .labelEmpastado {
    font-weight: bolder;
  }

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.imagenEmpastado {
  max-width: 100%;
  height: auto;
}

.inputNew {
  border: none;
  border-bottom: 1px groove rgba(0, 0, 0, 0.2);
  border-radius: 0px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}