<section>
    <div class="container">
      <div class="row pt-5">
          <div class="col-12">
            <h1 class="text-center">Empastados</h1>
          </div>
      </div>
      <div class="row">
          <div class="col-12 col-lg-6 ">
            <img src="/assets/empastado.png" alt="photo1" style="height: 900px;">
          </div>
          <div class="col-12 col-lg-6 pt-5">
            <div class="col d-flex justify-content-center">
              <div class="card" style="width: 34rem; background-color: #DCDBDD;">
                  <div class="card-body">
                      <form>
                          <div class="mb-3">
                            <label for="facultad" class="form-label">Facultad</label>
                            <input type="facultad" class="form-control" id="facultad" aria-describedby="facultad">
                          </div>
                          <div class="mb-3">
                            <label for="carrera" class="form-label">Carrera</label>
                            <input type="carrera" class="form-control" id="carrera" aria-describedby="carrera">
                          </div>
                          <div class="mb-3">
                            <label for="titulo" class="form-label">Título Tesis</label>
                            <input type="titulo" class="form-control" id="titulo" aria-describedby="titulo">
                          </div>
                          <div class="mb-3">
                            <label for="trabajo" class="form-label">Trabajo en</label>
                            <input type="trabajo" class="form-control" id="trabajo" aria-describedby="trabajo">
                          </div>
                          <div class="mb-3">
                            <label for="autor" class="form-label">Autor</label>
                            <input type="autor" class="form-control" id="autor" aria-describedby="autor">
                          </div>
                          <div class="mb-3">
                            <label for="tutor" class="form-label">Tutor</label>
                            <input type="tutor" class="form-control" id="tutor" aria-describedby="tutor">
                          </div>
                          <div class="mb-3">
                            <div class="row">
                              <div class="col-12 col-lg-6 " >
                                <label for="mes" class="form-label">Mes</label>
                                <input type="mes" class="form-control" id="mes" aria-describedby="mes">
                              </div>
                              <div class="col-12 col-lg-6 " >
                                <label for="anio" class="form-label">Año</label>
                                <input type="anio" class="form-control" id="anio" aria-describedby="anio">
                              </div>
                            </div>
                          </div>
                          <div class="mb-3">
                            <div class="row">
                              <div class="col-12 col-lg-6 " >
                                <label for="mes" class="form-label">Cantidad</label>
                                <select class="form-select" aria-label="Default select example">
                                  <option selected>Seleccione la cantidad</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                </select>
                              </div>
                              <div class="col-12 col-lg-6 " >
                                <div class="mb-3">
                                  <label for="precio" class="form-label">Precio: </label>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          <div class="d-flex justify-content-evenly">
                              <a class="btn btn-main-login" aria-current="page" href="/registrarse">Guardar Reserva</a>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6 ">
          <a href="./empastado.pdf" download="modelo.pdf">
            <a class="btn btn-main">Descargar modelo</a>
          </a>
        </div>
      </div>
    </div>
</section>