<!-- PRECIOS -->
<section class="mt-5 pt-4" style="background-color: #5D213B; color: white;">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Tipos de Papel</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-lg-2 pb-3">
                <p class="btn btn-main">Bond</p>
            </div>
            <div class="col-4 col-lg-2 pb-3">
                <p class="btn btn-main">Couche</p>
            </div>
            <div class="col-4 col-lg-2 pb-3">
                <p class="btn btn-main">Copia</p>
            </div>
            <div class="col-4 col-lg-2 pb-3">
                <p class="btn btn-main">Químico</p>
            </div>
            <div class="col-4 col-lg-2 pb-3">
                <p class="btn btn-main">Duplex</p>
            </div>
            <div class="col-4 col-lg-2 pb-3">
                <p class="btn btn-main">Triplex</p>
            </div>
        </div>
    </div>
  </section>
  <section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-3 col-lg-1">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Filtrar
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Opción 1</a></li>
                      <li><a class="dropdown-item" href="#">Opción 2</a></li>
                      <li><a class="dropdown-item" href="#">Opción 3</a></li>
                    </ul>
                </div>
            </div>
            <div class="col col-lg-5">
                <input class="form-control" type="search" placeholder="Buscar" aria-label="Search">
            </div>
        </div>
    </div>
  </section>
  <section class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Gramaje</th>
                        <th scope="col">Tamaño cm</th>
                        <th scope="col">Pliegos</th>
                        <th scope="col">Resma Bs</th>
                        <th scope="col">Precio Unitario Bs</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Bond 63</th>
                        <td>87x67</td>
                        <td>500</td>
                        <td>210</td>
                        <td>0,42</td>
                      </tr>
                      <tr>
                        <th scope="row">Bond 75</th>
                        <td>87x67</td>
                        <td>500</td>
                        <td>260</td>
                        <td>0,52</td>
                      </tr>
                      <tr>
                        <th scope="row">Bond 90</th>
                        <td>87x67</td>
                        <td>250</td>
                        <td>180</td>
                        <td>0,72</td>
                      </tr>
                      <tr>
                        <th scope="row">Bond 118</th>
                        <td>87x67</td>
                        <td>250</td>
                        <td>220</td>
                        <td>0,88</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
  </section>
  <section class="m-4">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <button class="btn btn-main-login">
                    <p>Agregar Gramaje</p>
                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-main-login">
                    <p>Actualizar</p>
                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-main-login">
                    <p>Editar</p>
                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-main-login">
                    <p>Eliminar</p>
                </button>
            </div>
        </div>
    </div>
  </section>