
  <!-- MAIN SECTION -->
  <main class="pt-5 titulo" style="margin: 15px;">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 text-center">
          <img src="/assets/logo kairos color-02.png" alt="logo" style="height: 200px;">
        </div>
        <div class="col-lg-6 text-center text-lg-start">
          <h1>IMPRESIONES IMPECABLES</h1>
          <p>RECOMENDADA POR DIFERENTES INSTITUCIONES Y NEGOCIOS</p>
          <a href="/productos" class="btn btn-main btnTitulo">Ver Catálogo</a>
          <a target="_blank" href="https://api.whatsapp.com/send?phone=59177113546&text=Quiero%20cotizar" class="btn btn-outline-main btnTitulo">Contáctanos</a>
        </div>
      </div>
    </div>
  </main>
  <!-- TESTIMONIOS -->
  <section  style="margin: 15px;">
    <div class="container">
      <div class="row pt-5">
        <div class="col text-center">
            <h2>TESTIMONIOS</h2>
        </div>  
      </div>
      <div class="row pt-3 ">
        <div class="col pb-3 text-center d-flex justify-content-center">
          <div class="card" style="width: 23rem; background-color: #DCDBDD; border-radius: 3px;">
            <div class="card-body">
              <img src="/assets/image (1).jpg" alt="photo1" style="width:70px; border-radius: 50%;">
              <p class="card-text pt-2"><br>Un gran servicio, el sello que solicité es de muy buena calidad y materiales, de ajusta perfectamente al diseño que les envié y la entrega se hizo incluso antes de la fecha estimada. -Karen García.</p>
              <p>⭐⭐⭐⭐⭐</p>
            </div>
          </div>
        </div>
        <div class="col pb-3 text-center d-flex justify-content-center">
          <div class="card" style="width: 23rem; background-color: #DCDBDD; border-radius: 3px;">
            <div class="card-body">
              <img src="/assets/image.jpg" alt="photo2" style="width:70px; border-radius: 50%;">
              <p class="card-text pt-2">Ha resultado ser muy fácil hacer el pedido y con los consejos del equipo, hicieron unas tarjetas perfectas, con una gran calidad del papel e impresión. Servicio, atención y calidad muy positivos. Volveremos a confiar en vuestra empresa para todos los productos necesarios. Gracias. Recomendable al 100%. -Adrián Vera.</p>
              <p>⭐⭐⭐⭐⭐</p>
            </div>
          </div>
        </div>
        <div class="col pb-3 text-center d-flex justify-content-center">
          <div class="card" style="width: 23rem; background-color: #DCDBDD; border-radius: 3px;">
            <div class="card-body">
              <img src="/assets/image (2).jpg" alt="photo3" style="width:70px; border-radius: 50%;">
              <p class="card-text pt-2">Realicé un pedido de afiches para mis eventos. El resultado ha sido excelente, pero todo el proceso desde el primer momento hasta la recepción de los mismos ha sido impecable: las plantillas de diseño, el asesoramiento y la revision del mismo sin coste y el servicio de transporte puntual. Sin duda volveré a contar con ellos. - Mauricio Camacho.</p>
              <p>⭐⭐⭐⭐⭐</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section id="section">
  <div class="container">
    <div class="row pt-5">
      <div class="col text-center">
          <h2>CONTÁCTANOS</h2>
      </div>  
    </div>
    <div class="row p-5" style="background-color:#5D213B; color: white; border-radius: 3px;">
      <div class="col align-self-center">
        <div class="row">
          <div class="col col-12 col-lg-1" style="font-size: 35px;padding: 0px;">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div class="col col-12 col-lg-11" style="padding: 0px;">
            <h1>Dirección</h1>
          </div>
        </div>
        <div class="row">
          <p>CALLE GEORGE ROUMA 270 ZONA SURAPATA</p>
        </div>
      </div>
      <div class="col">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d942.8700082643154!2d-65.26017817080228!3d-19.042620731479733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93fbcf3523311c97%3A0x973bb01530042153!2sGeorge%20Rouma%20270%2C%20Sucre!5e0!3m2!1ses!2sbo!4v1632351378455!5m2!1ses!2sbo" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</section>

<!--SECCION TELEFONOS Y HORARIOS-->
<section>
<div class="container">
  <div class="row pt-3 pb-5" style="color: white;">
    <div class="col p-5 me-2" style="background-color: #5D213B; border-radius: 3px;">
      <div class="row">
        <div class="col col-12 col-lg-1" style="font-size: 35px;padding: 0px;">
          <i class="fas fa-phone"></i>
        </div>
        <div class="col col-12 col-lg-11" style="padding: 0px;">
          <h1>Teléfonos</h1>
          <p>77113546 <br> 70328532</p>
        </div>
      </div>
    </div>
    <div class="col p-5 ms-2" style="background-color: #5D213B; border-radius: 3px;">
      <div class="row">
        <div class="col col-12 col-lg-1" style="font-size: 35px;padding: 0px;">
          <i class="far fa-clock"></i>
        </div>
        <div class="col col-12 col-lg-11" style="padding: 0px;">
          <h1> Horarios de Atención</h1>
          <p>
            LUNES A VIERNES: 08:30 - 12:30 ; 14:00 - 19:30
            <br>
            SÁBADOS: 08:00 - 13:00
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>