<!--MAIN-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="/imprentaclient/src/assets/imagenes/logo kairos blanco-01.png" type="image/x-icon">
    <title>Imprenta</title>
</head>
<body>
    <!-- MAIN SECTION -->
    <main class="pt-5">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 text-center">
            <img src="/imprentaclient/src/assets/imagenes/logo kairos color-02.png" alt="logo" style="height: 200px;">
          </div>
          <div class="col-lg-6 text-center text-lg-start">
            <h1>Titulo o Promesa</h1>
            <p>Descripcion del trabajo que se realiza</p>
            <a href="/html/productos.html" class="btn btn-main">Ver Catálogo</a>
            <a href="#section" class="btn btn-outline-main">Contáctanos</a>
          </div>
        </div>
      </div>
    </main>
    <!-- TESTIMONIOS -->
    <section>
      <div class="container">
        <div class="row pt-5">
          <div class="col text-center">
              <h2>TESTIMONIOS</h2>
          </div>  
        </div>
        <div class="row pt-3 ">
          <div class="col pb-3 text-center d-flex justify-content-center">
            <div class="card" style="width: 23rem; background-color: #DCDBDD;">
              <div class="card-body">
                <img src="/imprentaclient/src/assets/imagenes/image (1).jpg" alt="photo1" style="width:70px; border-radius: 50%;">
                <p class="card-text pt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p>⭐⭐⭐⭐⭐</p>
              </div>
            </div>
          </div>
          <div class="col pb-3 text-center d-flex justify-content-center">
            <div class="card" style="width: 23rem; background-color: #DCDBDD;">
              <div class="card-body">
                <img src="/imprentaclient/src/assets/imagenes/image.jpg" alt="photo2" style="width:70px; border-radius: 50%;">
                <p class="card-text pt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p>⭐⭐⭐⭐⭐</p>
              </div>
            </div>
          </div>
          <div class="col pb-3 text-center d-flex justify-content-center">
            <div class="card" style="width: 23rem; background-color: #DCDBDD;">
              <div class="card-body">
                <img src="/imprentaclient/src/assets/imagenes/image (2).jpg" alt="photo3" style="width:70px; border-radius: 50%;">
                <p class="card-text pt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <p>⭐⭐⭐⭐⭐</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- CONTACTANOS DIRECCION -->
    <section id="section">
      <div class="container">
        <div class="row pt-5">
          <div class="col text-center">
              <h2>CONTÁCTANOS</h2>
          </div>  
        </div>
          <div class="row p-5" style="background-color:#5D213B; color: white;">
            <div class="col">
              <div class="row pb-5">
                <div class="col-2">
                  <img src="/imprentaclient/src/assets/imagenes/marcador-de-posicion (1).png" alt="location-icon">
                </div>
                <div class="col-10">
                  <h1>Dirección</h1>
                </div>
              </div>
              <p>CALLE GEORGE ROUMA 270 ZONA SURAPATA</p>
            </div>
            <div class="col">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d942.8700082643154!2d-65.26017817080228!3d-19.042620731479733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93fbcf3523311c97%3A0x973bb01530042153!2sGeorge%20Rouma%20270%2C%20Sucre!5e0!3m2!1ses!2sbo!4v1632351378455!5m2!1ses!2sbo" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
      </div>
    </section>
    <!--SECCION TELEFONOS Y HORARIOS-->
    <section>
      <div class="container">
        <div class="row pt-3 pb-5" style="color: white;">
          <div class="col p-5 me-2" style="background-color: #5D213B;">
            <h1>Teléfonos</h1>
            <p>77113546 <br> 70328532</p>
          </div>
          <div class="col p-5 ms-2" style="background-color: #5D213B;">
            <h1> Horarios de Atención</h1>
            <p>LUNES  A VIERNES:
              08:30 - 12:30
              14:00 - 19:30
              <br>
              SÁBADOS:
              08:00 - 13:00</p>
          </div>
        </div>
      </div>
    </section>
</body>
</html>