
      <!--MISION VISION VALORES-->
      <section style="color: white;">
        <div class="container">
            <div class="row pt-5">
                <div class="col-12 col-lg-6 p-5 rounded" style="background-color: #5D213B; border: 10px solid white;">
                    <h1>MISIÓN</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam, assumenda nisi modi in quos voluptatem laboriosam labore voluptates saepe illum soluta at, excepturi error maxime! Debitis ullam excepturi tenetur! Nobis.</p>
                </div>
                <div class="col-12 col-lg-6 p-5 rounded" style="background-color: #5D213B; border: 10px solid white;">
                    <h1>VISIÓN</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus pariatur porro omnis sapiente iusto quas recusandae quo animi fugit assumenda nesciunt impedit, totam vel magni nemo possimus sint ipsum molestias.</p>
                </div>
            </div>
            <div class="row pt-1 pb-5">
                <div class="col p-5 rounded" style="background-color: #5D213B; border: 10px solid white;">
                    <h1>VALORES</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia perferendis molestiae quaerat, sapiente cupiditate unde ex nihil explicabo fugit nemo dicta dolorem cum iure pariatur dolores, amet officiis similique vitae!</p>
                </div>
            </div>
        </div>
      </section>