
      <!--MISION VISION VALORES-->
      <section style="color: white;">
        <div class="container">
            <div class="row pt-5">
                <div class="col-12 col-lg-6 p-5 separado" style="background-color: #5D213B;">
                    <h1>MISIÓN</h1>
                    <p>Nuestra misión es ser una organización integral de artes gráficas, que satisfaga todas las necesidades de impresión en cuanto a calidad, rapidez y eficiencia que nuestros clientes requieren.</p>
                </div>
                <div class="col-12 col-lg-6 p-5 separado" style="background-color: #5D213B;">
                    <h1>VISIÓN</h1>
                    <p>Nuestra visión es ser una de las empresas de artes gráficas de referencia en el municipio y en el departamento, por su excelencia en sus trabajos de impresión y en la satisfacción de los clientes.</p>
                </div>
            </div>
            <div class="row pt-1 pb-5">
                <div class="col p-5 separado" style="background-color: #5D213B;">
                    <h1>VALORES</h1>
                    <ul>
                        <li>Actitud de servicio</li>
                        <li>Compromiso</li>
                        <li>Responsabilidad</li>
                        <li>Integridad</li>
                        <li>Honestidad</li>
                    </ul>
                </div>
            </div>
        </div>
      </section>